@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<img src="~/images/OurMemory.png" alt="Our Memory Logo" height="420" width="420" align="middle" />

<p>Our Memory is here to provide you with a safe place to store and share your family's memories.</p>
