@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

@*<address>
    Our Memory<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong> <a href="mailto:Support@OurMemory.com">Support@OurMemory.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@OurMemory.com">Marketing@OurMemory.com</a>
</address>
