@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/OurMemory.png" alt="Our Memory Logo" height="420" width="420" align="middle" />

<p>Our Memory is here to provide you with a safe place to store and share your family's memories.</p>


